<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h3> 정말 회원 탈퇴를 진행하시겠습니까? </h3>
    <p> 탈퇴를 희망하시는 경우 아래에 패스워드를 입력해주세요 </p>
    <form>
        <div> 패스워드 : </div>
        <input type="password" class="mpassword" name="mpassword">
        <button type="button" onclick="userdelete()"> 회원탈퇴 </button>
    </form>


    <!-- JQuery -->
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/member.js" type="text/javascript"></script>
</body>
</html>