<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원수정</title>
</head>
<body>
  <a href="/"> 홈으로 </a>
  <form>
    <table>
      <tr>
        <td>아이디[이메일] : </td> <td> <input type="text" name="memail" class="umemail" disabled="disabled"> </td>
      </tr>
      <tr>
        <td> 이름 : </td> <td> <input type="text" name="mname" class="umname"> </td>
      </tr>
      <tr>
        <td> 비밀번호 :  </td><td> <input type="password" name="mpassword" class="umpassword"> </td>
      </tr>
      <tr>
        <td> 전화번호 :  </td> <td> <input type="text" name="mphone" class="umphone"> </td>
      </tr>
      <tr>
        <td colspan="2"> <button type="button" onclick="onupdate()"> 수정 </button> </td>
      </tr>
    </table>
  </form>

  <!-- JQuery -->
  <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="/js/member.js" type="text/javascript"></script>

</body>
</html>