.find-mainBox{
    width: 40%;
    margin: 0 auto;
}

.pageTitle{
    margin: 100px 0px;
}

.tab-box{
    display: flex;
    padding-bottom : 20px;
}

.findBtn{
    margin-top: 30px !important;
    color : #ffad16 !important;
    border-color : #ffad16 !important;
}
.tab-menu{
    background-color: #ffad16;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    font-size: 12px;
    width: 100px;
    text-align: center;
    padding: 5px;
}
.tab-menu-none-selected{
    background-color: gray !important;
}

.findPW{
    display : none;
}

.returnBox{
    font-size : 13px;
    margin-top : 20px;
}