<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h3> 아이템 페이지 </h3>

    <h4> 제품 등록</h4>
    <div>
        제품명 : <br>
        <input type="text" class="pname">
    </div>

    <div>
        제품설명 : <br>
        <input type="text" class="pcontent">
    </div>
    <div>
        <button type="button" onclick="prodAdd()"> 등록 </button>
    </div>

    <h4> 제품 출력 </h4>
    <table border="1" class="productTable">

    </table>

    <!-- JQuery -->
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- resouces static 부터 경로 시작 -->
    <script src="/js/product.js"></script>
</body>
</html>